{
  "env": {
    "es2020": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:json/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:yaml/recommended"
  ],
  "globals": {
    "React": "writable"
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["prettier", "react"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "settings": {
    "react": {
      "version": "17"
    }
  }
}
