<p>Message from <a href="<%- mailto %>"><%- address %></a>:</p>
<p>Q. What are you looking for in a meditation group?</p>
<blockquote>
  <p><%- interest %></p>
</blockquote>
<p>Q. Please describe your experience/interest in the Thai Forest tradition:</p>
<blockquote>
  <p><%- experience %></p>
</blockquote>
<p>
  This message originated from
  <a href="<%- groupMessageUrl %>"><%- groupMessageUrl %></a>.
</p>
<p>
  To update this group, please visit
  <a href="<%- groupEditUrl %>"><%- groupEditUrl %></a>.
</p>
