@font-face {
  font-family: "Gentium Incantation";
  src: url("GentiumIncantation-Regular.woff2") format("woff2"),
    url("GentiumIncantation-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gentium Incantation";
  src: url("GentiumIncantation-Italic.woff2") format("woff2"),
    url("GentiumIncantation-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
